.webloader-container {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: #fff;
    justify-content: center;
    display: flex;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    align-items: center;
    overflow: hidden;
}

.webloader-container .loader {
    width: 85px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #ffe4f5;
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}

.section {
    padding-bottom: 50px;
}

.section-title {
    text-align: center;
    font-size: var(--size-title-small);
}

.header {
    height: 10vh;
}

.header-main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 7vh;
}

.header-pre {
    width: 100%;
    background-color: var(--pink-color);
    padding: 5px;
    text-align: center;
    overflow: hidden;
    height: 3vh;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.header-logo {
    text-align: center;
    display: flex;
    justify-content: center;
    flex: 40%;
}

.header-logo img {
    width: 100%;
    height: auto;
}

.header-mobile-nav a,
.header-mobile-nav button {
    background: none;
    border: none;
    color: #000;
    margin: 0 5px;
}


.header-mobile-nav a svg,
.header-mobile-nav button svg {
    width: 26px;
    height: 26px;
}

.header-mobile-nav {
    display: flex;
    flex: 30%;
    align-items: center;
}

.header-user-nav {
    display: flex;
    justify-content: flex-end;
}

.header-user-nav p {
    right: -5px;
    top: -5px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    position: fixed;
    height: 100vh;
    top: 0;
    width: 75%;
    background-color: #fff;
    z-index: 25;
    left: 0;
}

.nav-menu ul li select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

.nav-menu ul li select {
    width: 100%;
    padding: 15px;
    position: relative;
    border: 1px solid #000;
}

.nav-menu ul li select:focus {
    outline: none;
}

.currency-container {
    position: relative;
    color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.currency-container select {
    color: #000;
}

.currency-container p {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.currency-container p svg {
    width: 20px;
    height: 20px;
}

.nav-menu ul {
    list-style: none;
    list-style-position: inside;
}

.nav-menu ul li {
    width: 100%;
    padding: 15px;
}

.nav-menu ul li a {
    color: #333;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.nav-menu h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 15px;
}

.nav-menu h1 img {
    width: 150px;
    height: auto;
}

.nav-menu h1 button {
    background: transparent;
    border: none;
}

.nav-menu h1 button svg {
    width: 25px;
    height: 25px;
    color: #000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.cart-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    max-height: auto;
    z-index: 15;

}

.my-cart {
    position: fixed;
    background-color: #fff;
    top: 0;
    overflow-y: auto;
    right: 0;
    z-index: 25;
    padding: 24px 32px;
    width: 75%;
    height: 100vh;
    transform: translateX(100%);
}

.cart-footer {
    padding: 25px 0;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header h1 {
    font-size: 20px;
}

.cart-header button svg {
    width: 25px;
    height: 25px;
    border: none;
    color: #000;
}

.cart-header button {
    background: none;
    border: none;
}

.cart-body {
    padding: 0;
    padding-left: 0;
    height: calc(100% - 120px);
}

.cart-item {
    margin: 25px 0;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}

.cart-item-image {
    width: 40%;
    padding-left: 0;
}

.cart-item-info {
    width: 59%;
    padding: 10px;
}

.cart-item-image img {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.cart-no-items {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-top: 50px;
}

.cart-item-info h1,
.cart-item-info h2 {
    font-size: 16px;
    font-weight: normal;
}

.cart-item-info h1 {
    font-weight: bold;
}

.cart-item-info h2 {
    margin: 5px 0;
}

.cart-item-options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.cart-item-options-container p {
    text-decoration: underline;
    color: gray;
    cursor: pointer;
}

.quantity-container {
    display: flex;
    margin: 10px 0;
}

.quantity-container button {
    width: 35px;
    padding: 12px;
    height: 35px;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid lightgray;
}

.cart-quantity-decrement,
.cart-quantity-increment {
    cursor: pointer;
}

.cart-quantity-decrement[disabled],
.cart-quantity-increment[disabled] {
    cursor: not-allowed;
}

.cart-subtotal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cart-checkout {
    width: 100%;
    font-size: 16px;
    background-color: #000;
    letter-spacing: 1.25px;
    padding: 12px 24px;
    cursor: pointer;
    border: 1px solid #000;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.cart-checkout a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}

.cart-checkout a svg {
    margin-left: 5px;
}

.cart-checkout:hover {
    color: #fff;
}

.cart-checkout::after {
    content: "";
    background: #292929;
    /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.cart-checkout:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.cart-checkout img {
    width: 30px;
}

.price {
    letter-spacing: 1.25px;
}





.banner {
    height: 90vh;
    position: relative;
}


.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.95);
}

.banner:first-child img {
    object-position: 90% center;
}

.banner:last-child img {
    object-position: 15% center;
    filter: brightness(0.7);
}

.banner-text {
    position: absolute;
    transform: translateX();
}


.banner-text a {
    color: #fff;
    padding: 10px 16px;
    border: 1px solid #fff;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-size: var(--size-normal);
    text-decoration: none;
    display: inline-block;
}















.container {
    max-width: 95%;
    margin: auto;
}

.container-90 {
    max-width: 90%;
    margin: auto;
}






.newsletter {
    width: 100%;
    padding: 25px;
    position: relative;
    height: 550px;
}

.newsletter .newsletter-banner {
    width: 100%;
    filter: brightness(0.7);
}

.footer-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-container {
    position: absolute;
    bottom: 15%;
    width: 75%;
}

.newsletter-container h1 {
    font-size: var(--size-title-medium);
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    color: #fff;
}

.newsletter-container h2 {
    font-size: var(--size-normal);
    margin: 10px 0;
    color: #fff;
    font-weight: normal;
}

.newsletter-container h1 span {
    width: 100%;
    margin-bottom: var(--margin-bottom-separation);
}

/* .newsletter-container h2 {
    font-size: 18px;
    width: 50%;
    margin: 15px 0;
} */

.newsletter h1 img {
    width: 200px;
    height: auto;
}

.newsletter-container form {
    margin-top: 15px;
}


.form-newsletter {
    display: flex;
    width: 100%;
}

.form-newsletter .input-email {
    padding: 12px 24px;
    width: 100%;
    border: none;
}

.form-newsletter .input-email:focus {
    outline: none;
    background-color: #ffe4f5;
}

.btn-join {
    background-color: #000;
    color: #fff;
    padding: 12px 24px;
    border: none;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}



.order-confirmed-page {
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 25px auto;
}

.order-confirmed-page h1 {
    text-align: center;
    display: flex;
    justify-content: center;
}

.order-confirmed-page h2 {
    text-align: center;
    margin: 10px 0;
    font-size: var(--size-title-medium);
}

.order-confirmed-page h1 span {
    width: 90px;
    height: 90px;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe4f5;
}

.order-confirmed-page h1 span svg {
    width: 60px;
    height: 60px;
    color: #fff;
}

.order-confirmed-page p {
    margin: 5px 0;
}



.footer-item {
    width: 100%;
}

.footer-links {
    justify-content: space-around;
    padding: 16px;
    padding-bottom: 0;
}

.footer-list {
    margin: 15px 0;
}

.footer-list-title {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.footer-list ul {
    list-style: none;
    list-style-position: inside;
}

.footer-list ul li {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.footer-list ul li a {
    font-size: 12px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.footer-list ul li a:hover {
    text-decoration: underline;
}

.footer-social-media {
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.footer-social-media a {
    margin: 0 15px;
    width: 50px;
    height: 50px;
    display: flex;
    color: #000;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 15px;
    transition: all 0.1s ease-out;
}

.footer-social-media a svg {
    width: 25px;
    height: 25px;
}

/* .footer-social-media a:hover {
    background-color: #ffe4f5;
} */

.footer-copyright {
    text-align: center;
    font-size: 12px;
    padding: 15px;
    color: gray;
}

.footer-copyright span a {
    color: darkgray;
}









.shop {
    position: relative;
    width: 100%;
}

.shop-container-products {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shop-product-item {
    width: 49%;
    height: 300px;
    position: relative;
    margin: 40px 0;
}

.shop-product-item .product-item-image-container {
    width: 100%;
    height: 90%;
    overflow: hidden;
    position: relative;
}

.product-item-image-container a img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.product-item-wish {
    position: absolute;
    top: 15px;
    left: 15px;
    background: transparent;
    border: none;
}

.product-item-wish svg {
    width: 25px;
    height: 25px;
    color: #000;
}

.product-item-details {
    margin-top: var(--margin-top-separation);
    margin-bottom: var(--margin-top-separation);
}

.product-item-details h1 {
    margin: 5px 10px;
    font-size: var(--size-normal);
    font-weight: normal;
}

.product-item-details h2 {
    margin: 5px 10px;
    font-weight: normal;
}

.price-before {
    text-decoration: line-through;
    font-size: var(--size-normal);
}

.price-now {
    color: red;
    font-size: var(--size-title-small);
}

.product-item-details .price {
    font-weight: 400;
}




.product-details {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    margin-bottom: 25px;
}


.product-details-image-container {
    height: 85vh;
    width: 100%;
    padding: 10px;
}

.product-details-image-container .relative {
    height: 100%;
}

.product-details-image-container .relative img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-thumbnails-container {
    display: flex;
    justify-content: center;
}

.product-thumbnail {
    margin: 0 5px;
}

.product-detail-handle-slider {
    position: absolute;
    z-index: 1;
}

.product-detail-next-image {
    height: 100%;
    background-color: red;
    top: 0;
    width: 50px;
    right: 5px;
}

.product-detail-prev-image {
    height: 100%;
    background-color: red;
    top: 0;
    width: 50px;
    left: 5px;
}

.thumbnail-image {
    max-width: 100%;
    /* Asegura que las miniaturas no se estiren */
    height: 80px;
    width: 80px;
    object-fit: cover;
    object-position: top;
}





















.product-options-container {
    padding: 5px 15px;
}

.product-details-sizes {
    display: flex;
    list-style: none;
    margin-top: var(--margin-top-separation);
    margin-bottom: var(--margin-bottom-separation);
}

.product-details-sizes li {
    padding-right: 15px;
}

.product-details-sizes li button {
    padding: 10px;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
}

.product-details-active-size {
    border-bottom: 3px solid #000 !important;
}

.product-details-info p {
    margin-top: var(--margin-top-separation);
    margin-bottom: var(--margin-bottom-separation);
}

.product-details-info h1 {
    font-size: 23px;
}

.product-details-actions {
    display: flex;
    margin-top: 15px;
    justify-content: flex-start;
}

.btn-add-to-cart {
    flex: 80%;
    margin-right: 5px;
    padding: 12px 24px;
    border: 1px solid #000;
    color: #fff;
    font-size: var(--size-normal);
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.6px;
    background-color: #000;
    cursor: pointer;
}

.btn-add-to-cart svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.btn-details-add-to-wishlist {
    flex: 20%;
    padding: 12px 24px;
    border: 1px solid #000;
    color: #fff;
    font-size: var(--size-normal);
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    letter-spacing: 1.6px;
    background-color: var(--pink-color);
}

.btn-details-add-to-wishlist svg {
    width: 20px;
    height: 20px;
    color: #000;
}

.is-whishlisted svg {
    color: red !important;
}

.btn-continue-shopping {
    display: block;
    padding: 12px 24px;
    background-color: var(--pink-color);
    margin: 15px auto;
    border: 1px solid #000;
    width: max-content;
}

.btn-continue-shopping a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--size-small);
}









.success-payment {
    margin-top: var(--margin-top-separation);
}

.result-payment-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}


.result-payment-header h2 {
    text-align: center;
    font-size: var(--size-title-medium);
    font-weight: normal;
    width: 100%;
    margin-top: var(--margin-top-separation);
}

.result-payment-header h1 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-payment-header h1 {
    background-color: var(--success-color);
}

.pending-payment-header h1 {
    background-color: var(--warning-color);
}

.failure-payment-header h1 {
    background-color: var(--error-color);
}

.not-found-payment-header h1 {
    background-color: var(--info-color);
}

.result-payment-body {
    padding: 10px 0;
    font-size: var(--size-normal);
}

.result-payment-body ul {
    list-style-position: inside;
}

.result-payment-body ul li {
    padding: 5px;
}

.result-payment-body p {
    margin-top: var(--margin-top-separation);
    margin-bottom: var(--margin-bottom-separation);
}



.order-info-operation-details li {
    padding: 5px 0;
}

.order-info-operation-details,
.order-info-product-details {
    margin-top: var(--margin-top-separation);
    padding: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: var(--margin-bottom-separation);
    list-style: none;
}

.order-info-product-details h2 {
    font-size: var(--size-title-small);
    font-weight: normal;
}

.order-info-price-details {
    padding: 10px;
    list-style: none;
    text-align: right;
    font-size: var(--size-title-small);
}


.order-product-item {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--margin-top-separation);
    margin-bottom: var(--margin-bottom-separation);
}

.order-detail-product-image {
    width: 33%;
    height: 100%;
}

.order-detail-product-image img {
    width: 100%;
    height: 100%;
}





























.checkout {
    padding: 25px 0;
}

.checkout-process-info {
    margin: 30px 0;
}

.checkout-process-info ol {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.checkout-process-info ol li.active {
    color: #000;
    font-weight: 600;
}

.checkout-process-info ol li {
    color: lightgray;
    position: relative;
}

.checkout-title {
    font-size: var(--size-title-medium);
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout-title a {
    font-size: var(--size-normal);
    color: #000;
    text-decoration: underline;
}

.checkout-subtitle {
    font-size: var(--size-title-small);
    font-weight: normal;
}

.checkout-form {
    display: block;
    margin: 20px 0;
}

.checkout-form .input-field {
    margin-top: var(--margin-top-separation);
    margin-bottom: var(--margin-bottom-separation);
}

.checkout-form .input-field input {
    border: 1px solid lightgray;
}

.select-country-shipping {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid lightgray;
    background: transparent;
    color: #000;
    outline: none;
}

.checkout-form .input-field input:disabled {
    background: rgb(245, 245, 245);
}


.btn-form {
    padding: 12px 24px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    height: 40px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
    margin-top: var(--margin-top-separation);
}

.address-user {
    border: 1px solid #000;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
}

.address-user.selected {
    background-color: #ffe4f5;
    transition: all 0.3s;
}

.btn-new-address {
    width: 100%;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    text-align: center;
    margin: 15px 0;
    border: 1px solid #000;
    padding: 12px 24px;
    border-radius: 5px;
}

.checkout-user-details {
    margin-top: 25px;
}

.btn-prev-step {
    background: none;
    border: 1px solid #000;
    padding: 12px 24px;
    border-radius: 10px;
    color: #000;
    display: flex;
    align-items: center;
}

.btn-prev-step svg {
    margin-right: 5px;
}


.checkout-payment-summary {
    margin: 10px 0;
    border: 1px solid lightgray;
}

.checkout-payment-summary h2 {
    font-size: var(--size-title-small);
    font-weight: normal;
}

.checkout-payment-summary h1 {
    font-size: var(--size-title-medium);
    font-weight: normal;
}


.checkout-payment-summary h1,
.checkout-payment-summary h2 {
    padding: 15px 10px;
    display: flex;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
}

.checkout-payment p {
    font-size: var(--size-small);
}

.checkout-items li {
    display: flex;
    padding: 15px 10px;
    justify-content: space-between;
    font-size: var(--size-title-small1);
}

.checkout-items {
    border-bottom: 1px solid lightgray;
}

.checkout li div {
    display: flex;
    flex-direction: column;
}


svg {
    color: #000;
}

.bg-lightgray {
    background-color: lightgray;
}




























/* LOGIN */
.login {
    max-height: 100vh;
    overflow: hidden;
    max-width: 100vh;
}

.container-login {
    width: 85%;
    margin: auto;
    margin-top: 25px;
}

.logo-login img {
    width: 200px;
}

.logo-login {
    text-align: center;
    margin-bottom: 15px;
}

.container-login h1 {
    font-size: 21px;
    font-weight: normal;
}

.container-login h2 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 15px;
}

.form-init,
.form-login,
.form-register,
.form-reset-code {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.form-login .input-field,
.form-register .input-field,
.form-reset-code .input-field {
    margin: 10px;
    margin-left: 0;
}

.tof h2 {
    font-weight: normal;
    font-size: 16px;
    color: gray;
    margin-top: 15px;
}

.input-submit {
    margin-left: auto;
}

.input-submit button {
    padding: 12px 24px;
    border-radius: 25px;
    border: none;
    width: 200px;
    margin-top: 25px;
    color: #fff;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    transition: all 0.7s;
    background-color: #000;
}

.input-submit button:hover {
    opacity: 0.5;
}

.container-input-fields {
    width: 100%;
    display: flex;
}

.input-field-50 {
    width: 45%;
}

.input-field {
    position: relative;
    width: 100%;
}

.input-field input {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    font-size: 16px;
    padding: 0 10px;
    border: 1.5px solid #000;
    background: transparent;
    color: #000;
    outline: none;
}

.input-textarea textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    max-height: 150px;
    border-radius: 6px;
    border: 1.5px solid #000;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.input-textarea textarea:focus {
    outline: none;
}

.input-select select {
    width: 100%;
    padding: 10px;
    border: 1.5px solid #000;
    border-radius: 6px;
    height: 50px;
}

.input-select select:focus {
    outline: none;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: gray;
    font-weight: 500;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
}

input:focus {
    border: 1.5px solid #000;
}

input:focus~label,
input:valid~label {
    top: 0;
    left: 15px;
    font-size: 14px;
    padding: 0 2px;
    background: #fff;
}

.change-email {
    color: #000;
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 400;
}

.change-email button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 16px;
    color: gray;
    font-weight: 600;
    cursor: pointer;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password button {
    color: gray;
    background-color: transparent;
    font-size: 16px;
    border: none;
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}

.login-message {
    background-color: rgb(245, 245, 245);
    padding: 10px 16px;
    font-weight: 600;
    font-size: medium;
    color: rgb(17, 17, 17);
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.btn-send-code-again {
    background-color: transparent;
    border: none;
    text-decoration: none;
    text-decoration: underline;
    margin-top: 15px;
    font-size: var(--size-title-small);
}

.message-login {
    margin-top: 15px;
    color: var(--info-color) !important;
}

.btn-loader-spin-login {
    display: flex;
    justify-content: center;
}

.btn-loader-spin-login .loader {
    padding: 4px;
    aspect-ratio: 1;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}


.user-details {
    margin: 20px auto;
}


.user-details h1 {
    font-size: var(--size-title-medium);
    font-weight: normal;
    text-align: center;
}

.user-details-info p {
    margin: 10px 0;
    font-size: var(--size-normal);
}

.user-details-info h1 {
    font-weight: normal;
    font-size: var(--size-title-medium);
}

.user-nav-details ul li {
    padding: 25px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-nav-details ul li a {
    color: #000;
}

.user-details-info ul li svg {
    width: 25px;
    height: 25px;
}

.title-small {
    font-size: var(--size-title-small);
}

.user-details-content {
    margin-top: 25px;
}

.user-order-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-order {
    border: 1px solid lightgray;
    margin-bottom: 30px;
}

.user-order p {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: var(--size-title-small);
}

.user-order .bb {
    border-bottom: 1px solid lightgray;
}

.user-order .bt {
    border-top: 1px solid lightgray;
}

.user-order-product-info span {
    margin: 0 2.5px;
}

.user-acount-details {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.user-acount-details p {
    margin: 5px 0;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}


.modal {
    position: fixed;
    height: 100vh;
    background-color: rgb(17, 17, 17, 0.4);
    width: 100%;
    z-index: 1500;
    left: 0;
    top: 0;
}

.modal-content {
    width: 100%;
    background-color: #fff;
    bottom: 0;
    position: fixed;
    height: 150px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.currency-btn-container {
    margin-top: 10px;
}

.currency-btn-container button {
    margin: 5px;
    width: 75%;
    padding: 12px 24px;
    border: 1px solid lightgray;
}

.modal-content h1 {
    font-size: var(--size-title-medium);
}


.checkout-transfer {
    margin-top: 25px;
}

.checkout-transfer h1 {
    font-size: var(--size-title-medium);
    font-weight: normal;
}

.checkout-transfer h2 {
    font-size: var(--size-title-medium);
    text-align: left;
    font-weight: normal;
}

.transfer-steps li .bold {
    letter-spacing: 1.5px;
}

.transfer-steps {
    list-style-position: inside;
    margin-top: 10px;
    background-color: #ffe4f5;
    border-radius: 5px;
    padding: 15px;
    font-size: var(--size-normal);
}

.transfer-steps li {
    padding: 8px 0;
    list-style-position: inside;
}

.transfer-bank-information li {
    padding: 5px 0;
    padding-left: 25px;
    list-style: none;
    text-transform: uppercase;
}








.about-us .container-80 .relative {
    height: 650px;
    width: 100%;
}

.about-us .container-80 .relative img {
    object-fit: cover;
}

.about-us {
    padding: 50px 0;
}

.about-us h1 {
    font-size: var(--size-title-medium);
    letter-spacing: 1.25px;
    text-transform: uppercase;
    text-align: left;
}

.about-us p {
    margin: 10px 0;
    font-size: var(--size-normal);
}

.faqs {
    padding: 15px 0;
    min-height: 250px;
}

.faqs .container-90 p {
    margin-top: 25px;
}

.acordion-item {
    background-color: #ffe4f5;
    padding: 15px;
    margin: 5px 0;
    cursor: default;
}

.acordion-title {
    font-size: var(--size-title-small);
}

.acordion-item-content {
    padding: 15px;
}



.acordion-item-content ul {
    padding-left: 25px;
}

.acordion-item-content ul li {
    padding: 5px 0;
}

.acordion-item-content p {
    margin-bottom: 10px;
    padding-left: 15px;
}

.acordion-item-content p a {
    color: #000;
}





.contact {
    padding: 25px 0;
}

.form-contact .input-select,
.input-field,
.input-textarea {
    margin: 15px 0;
    display: block;
}

.form-contact .input-select label,
.form-contact .input-textarea label {
    margin: 5px 0;
    display: block;
}

.contact .container-90 p {
    margin: 10px 0;
}

.contact .container-90 p a {
    color: #000;
}

.form-contact .btn-form {
    width: 100%;
}


.ticker-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.ticker {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.ticker-inner {
    display: flex;
    animation: ticker-animation 15s linear infinite;
    font-size: var(--size-small);
}

.ticker-item {
    padding: 0 2rem;
    /* Espaciado entre elementos, ajusta según sea necesario */
    font-size: var(--size-small);
}

.size-small {
    font-size: var(--size-small);
}

@keyframes ticker-animation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}








.order-payment-method {
    padding: 25px 0;
}

.order-payment-method h1 {
    font-size: var(--size-title-small);
}

.input-field-checkbox {
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
}

.input-field-checkbox label {
    margin-left: 10px;
}

.order-payment-method-nav {
    display: flex;
    margin: 15px 0;
    justify-content: space-between;
    align-items: center;
}

.checkout-coupon {
    padding: 25px 0;
    border-bottom: 1px solid lightgray;
}

.checkout-coupon h1 {
    font-size: var(--size-title-small);
}

.form-checkout-coupon {
    display: flex;
    width: 100%;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.form-checkout-coupon .input-text,
.form-checkout-coupon .input-btn {
    padding: 10px;
    border-radius: 6px;
}

.form-checkout-coupon .input-text {
    width: 65%;
    border: 1px solid lightgray;
}

.form-checkout-coupon .input-btn {
    width: 30%;
    background-color: #000;
    height: 35px;
    border: 1px solid #000;
    color: #fff;
}

.order-payment-method-nav .btn-prev-step {
    border-radius: 6px;
}



.remove-coupon-btn {
    background: none;
    border: none;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}


.input-btn:disabled {
    background-color: lightgray;
    /* Color de fondo para el botón deshabilitado */
    color: #666;
    /* Color del texto para el botón deshabilitado */
    cursor: not-allowed;
    /* Cambia el cursor para indicar que el botón está deshabilitado */
    border: 1px solid lightgray;
}

.remove-coupon {
    padding: 10px 0;
}

.remove-coupon p {
    text-transform: uppercase;
}

.remove-coupon button {
    font-size: var(--size-small);
}

.saved {
    color: rgb(66, 223, 66);
}




.btn-loader {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* HTML: <div class="loader"></div> */
.input-btn .loader {
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid #fff;
    animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
}

@keyframes l20-2 {
    0% {
        transform: scaleY(1) rotate(0deg)
    }

    49.99% {
        transform: scaleY(1) rotate(135deg)
    }

    50% {
        transform: scaleY(-1) rotate(0deg)
    }

    100% {
        transform: scaleY(-1) rotate(-135deg)
    }
}


.btn-form .loader {
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid #fff;
    animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
}

.order-payment-method-nav .btn-form {
    width: 50%;
}













.d-flex {
    display: flex;
}

.faqs .container-90 h1 {
    font-size: var(--size-title-small);
    text-align: center;
    margin-bottom: 10px;
}

.footer-links .footer-list ul li a {
    cursor: pointer;
}






.pre-web {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #b8a088;
    color: #fff;
    position: relative;
}

.coming-soon-banner-img {
    object-position: 10%;
}


.pre-web-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    position: relative;
    z-index: 15;
    overflow: hidden;
}

.coming-soon-info {
    position: absolute;
    z-index: 10;
    margin-top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
}

.coming-soon-info h1 {
    margin-bottom: 15px;
}

.coming-soon-info h2 {
    font-size: var(--size-title-small);
    font-weight: 400;
    margin: 2.5px 0;
    color: #F8F8F8;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .form-newsletter {
        display: flex;
        width: 75%;
    }


    .product-details {
        width: 100%;
        display: flex;
        margin-bottom: 25px;
        height: 100%;
    }

    .product-options-container {
        width: 40%;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }

    .product-details-image-container {
        width: 60%;
        padding-bottom: 15px;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .product-details-image-container .relative {
        min-height: 90vh;
        width: 50%;
    }

    .product-details-size-guide .relative {
        min-height: 450px;
    }

    .product-details-size-guide .relative img {
        object-fit: cover;
        margin-top: 50px;
    }

    .shop-product-item {
        width: 32%;
        height: 50vh;
        position: relative;
        margin: 35px 2.5px;
    }
}

@media screen and (min-width: 1024px) {

    .header {
        height: 12vh;
    }

    .header-main {
        display: flex;
        height: 8vh;
        padding: 0 50px;
        align-items: center;
    }

    .header-pre {
        height: 4vh;
    }

    .header-logo a {
        width: 175px;
        height: 25px;
    }

    .header-logo {
        display: flex;
        justify-content: flex-start;
        text-align: left;
        width: 33%;
    }

    .header-nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header-nav ul {
        display: flex;
        list-style: none;
    }

    .header-nav ul li {
        padding: 0 15px;
    }

    .header-nav ul li a {
        color: #000;
        text-decoration: none;
        transition: all 0.3s;
    }

    .header-nav ul li a:hover {
        opacity: 0.5;
        transition: all 0.3s;
    }

    .ticker-inner {
        display: flex;
        animation: ticker-animation 60s linear infinite;
        font-size: var(--size-small);
    }

    .ticker-item {
        padding: 0 1rem;
        /* Espaciado entre elementos, ajusta según sea necesario */
        font-size: var(--size-normal);
    }

    .header-user-nav button svg {
        width: 25px;
        height: 25px;
    }

    .header-user-nav {
        width: 33%;
    }

    .header-user-nav button {
        margin: 0 5px;
    }

    .my-cart {
        width: 25%;
    }

    .newsletter {
        max-width: 100%;
        height: 70vh;
    }

    .form-newsletter {
        display: flex;
        width: 75%;
    }


    .footer-container {
        display: flex;
        min-height: 70vh;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer-item {
        width: 49%;
        height: 100%;
    }

    .footer-links {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-list {
        width: 24%;
    }

    .footer-social-media {
        width: 24%;
        flex-direction: column;
        margin: 15px 0;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-list-title {
        width: 100%;
    }

    .footer-copyright {
        text-align: right;
        padding: 10px;
        font-size: var(--size-normal);
    }

    .footer-social-media a {
        margin: 5px 0;
        width: 100%;
        height: 50px;
        color: #000;
        text-decoration: none;
        display: flex;
        font-size: var(--size-small);
        border-radius: 0;
        justify-content: flex-start;
    }

    .footer-social-media a svg {
        margin-right: 10px;
    }

    .shop-product-item {
        width: 24.5%;
        height: 90vh;
        position: relative;
        margin: 10px 2.5px;
    }

    .login {
        width: 100%;
        min-width: 100%;
        height: 100vh;
    }

    .container-login {
        width: 30%;
    }

    .user-nav-details ul li {
        cursor: pointer;
    }

    .about-us .container-80 p {
        font-size: var(--size-normal);
    }

    .faqs {
        width: 50%;
        margin: auto;
    }

    .faqs .container-90 {
        padding-bottom: 50px;
    }

    .faqs .container-90 h1 {
        font-size: var(--size-title-medium);
        text-align: center;
        margin-bottom: 25px;
    }

    .about-us {
        min-height: 90vh;
    }

    .about-us .container-90 {
        display: flex;
        justify-content: space-between;
    }

    .about-us-item {
        width: 49%;
    }

    .about-us-item:last-child p {
        width: 100%;
        height: 80vh;
    }

    .about-us-item:first-child p {
        margin: 20px 0;
    }

    .about-us-item:last-child p img {
        object-fit: cover;
        object-position: top;
    }

    .product-details {
        width: 100%;
        display: flex;
        margin-bottom: 25px;
        height: 100%;
    }

    .product-options-container {
        width: 40%;
        padding: 15px;
        display: flex;
        flex-direction: column;
    }

    .product-details-image-container {
        width: 60%;
        padding-bottom: 15px;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .product-details-image-container .relative {
        min-height: 90vh;
        width: 50%;
    }

    .product-details-size-guide .relative {
        min-height: 450px;
    }

    .product-details-size-guide .relative img {
        object-fit: cover;
        margin-top: 50px;
    }

    .banner {
        height: 88vh;

    }

    .checkout-user-details,
    .checkout-shipping,
    .checkout-payment {
        width: 50%;
        margin: auto;
        margin-top: 25px;
    }

    .checkout-process-info {
        width: 25%;
        margin: auto;
    }

    .checkout-logo {
        text-align: center;
        margin-bottom: 50px;
    }

    .order-confirmed-page {
        width: 650px;
        margin: 50px auto;
    }

    .modal-content {
        width: 450px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        right: 25px;
        bottom: 25px;
    }

    .currency-btn-container button {
        cursor: pointer;
    }

    .shop-container-products {
        justify-content: flex-start;
    }

}


.social-footer-list {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

.social-footer-list ul {
    display: flex;
    list-style: none;
}

.social-footer-list ul li {
    margin: 0 10px;
}

.social-footer-list ul li svg {
    width: 25px;
    height: 25px;
}

































































.admin-panel-header {
    display: flex;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
}

.admin-panel-header .fa-bars {
    cursor: pointer;
}

.admin-panel-header .fa-bars svg {
    width: 25px;
    height: 25px;
}


.admin-nav {
    position: fixed;
    top: 0;
    background-color: #000;
    left: 0;
    height: 100vh;
    width: 40%;
    padding-top: 50px;
    z-index: 50;
    list-style: none;
}

.admin-nav ul li {
    color: #fff;
    padding: 15px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.admin-panel-body {
    padding: 25px 0;
}

.admin-panel-body h1 {
    font-size: var(--size-title-medium);
}

.admin-panel-table-orders {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.admin-panel-table-orders thead tr th {
    padding: 12px;
    text-align: left;
    background-color: #ffe4f5;
    border: 1px solid #ddd;
    color: #000;

}

.admin-panel-table-orders tbody tr td {
    padding: 8px;
    border: 1px solid #ddd;
}

.admin-panel-table-orders tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admin-panel-table-orders tbody tr td select {
    width: 100%;
    height: 100%;
    padding: 8px;
    border: none;
    background-color: transparent;
}

.modal-content-change-order-status {
    width: 85%;
    background-color: #fff;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%) translateY(-50%);
    position: fixed;
    height: 200px;
    text-align: center;
    padding: 10px;
    z-index: 25;
}

.modal-content-order-detail {
    width: 85%;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: fixed;
    height: auto;
    text-align: center;
    z-index: 25;
    border-radius: 10px;
}

.modal-content-change-order-status p {
    width: 100%;
    margin-top: 25px;
}

.modal-content-options {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

.modal-content-options button {
    padding: 12px 24px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}

.modal-content-options button:first-child {
    background-color: var(--success-color);
    color: #fff;
}

.modal-content-options button:last-child {
    background-color: var(--error-color);
    color: #fff;
}

.btn-order-detail-action {
    width: 100%;
    text-align: center;
}

.btn-order-detail-action svg {
    width: 25px;
    height: 25px;
}


.modal-content-order-detail-order,
.modal-content-order-detail-user,
.modal-content-order-detail-shipping {
    margin: 10px 0;
    padding: 10px;
}

.modal-content-order-detail-list .flex {
    justify-content: space-between;
    align-items: center;
}

.modal-content-order-detail-user h1,
.modal-content-order-detail-order h1,
.modal-content-order-detail-shipping h1,
.modal-content-order-detail-header h1 {
    font-size: var(--size-title-small);
    text-align: left;
}

.modal-content-order-detail-list {
    text-align: left;
    list-style: none;
    list-style-position: inside;
}

.modal-content-order-detail-list li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.modal-content-order-detail-header {
    display: flex;
    justify-content: space-between;
    background-color: #ffe4f5;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}


.product-admin-item-details p {}

.products-admin-container {
    width: 100%;
}

.products-admin-item {
    border-bottom: 1px solid lightgray;
    width: 100%;
    padding: 10px 0;
}

.product-admin-item-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
}

.product-admin-item-details svg {
    width: 25px;
    height: 25px;
}

.products-admin-item {
    width: 100%;
}


.modal-admin-content {
    width: 90%;
    height: 85%;
    overflow-y: auto;
    background-color: #fff;
    top: 50%;
    padding: 15px;
    position: fixed;
    z-index: 1500;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;
}

.product-admin-item-details h1{
    display: flex;
}

.product-admin-item-details h1 p{
    margin-left: 10px;
    font-weight: normal;
}



.modal-admin-form-editable-product .input-editable-container{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 100%;
}

.modal-admin-form-editable-product .input-editable-container input{
    padding: 10px;
    display: block;
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.input-editable-twice-container{
    justify-content: space-between;
}

.input-editable-twice-container .input-editable-container{
    width: 48%;
}

.modal-admin-form-editable-product-stock{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.modal-admin-form-editable-product-stock p{
    margin-right: 10px;
    min-width: 25px;
}

.modal-admin-form-editable-product-stock input{
    width: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 50px;
}

.modal-admin-form-editable-product-images{
    display: flex;
    flex-direction: column;
}

.modal-admin-form-editable-product-image{
    margin-bottom: 10px;
}

.modal-admin-form-editable-product-image input{
    display: block;
}