/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  -webkit-appearance: none; /* Desactiva el estilo predeterminado en iOS */
  appearance: none; /* Desactiva el estilo predeterminado en otros navegadores */
  background: none; /* Asegura que no haya un fondo azul predeterminado */
  border: none; /* Asegura que no haya un borde predeterminado */
  color: inherit; /* Hereda el color del texto del contenedor */
}

:root {
  --pink-color: #ffe4f5;
  --size-title-small: 16px;
  --size-title-medium: 20px;
  --size-normal: 14px;
  --size-small: 12px;
  --margin-top-separation: 10px;
  --margin-bottom-separation: 10px;
  --warning-color: #ffc107;
  --success-color: #14FA40;
  --error-color: #dc3545;
  --info-color: #17a2b8;
}

.title-medium {
  font-size: var(--size-title-medium);
}

.info {
  color: var(--info-color);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bold {
  font-weight: bold;
}

.container-90 {
  max-width: 90%;
  margin: auto;
}

.container-80 {
  max-width: 80%;
  margin: auto;
}

.italic {
  font-style: italic;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

